<%#
  {
    'group': '그룹 1',
    'depth': '01. 홈_03. sub 페이지'
  }
#%>
<%#
  class : tr 클래스명 (point_add(추가), point_update(수정), point_remove(삭제))
  group : 구분 가능한 그룹명
  depth : 뎁스 이름(각각의 뎁스는 _ 로 구분 가능)
  comments : 비고
%>
<% const depth = 2 %>
<% const thumbImg = (sizeX = 200, sizeY = 200) => `http://via.placeholder.com/${sizeX}x${sizeY}`; %>
<% const folderCompo = '../'.repeat(depth + 2) + 'templates/components/' %><%# include components 경로  %>
<% const src = '../'.repeat(depth + 1) %>

<!DOCTYPE html>
<html lang="ko">
<head>
<%- include(
  `${folderCompo}_head`,
  {
    title: 'sub page',
    depth
  }
) %>
</head>
<body>
<div class="container-doc">
  <%- include(folderCompo + '_header_simple') %>

  <main class="doc-main">
    <article class="content-article">
      <h2>{main-article 제목}</h2>
      <ul>
        <% for( let i = 0; i < 10; i++ ) { %>
          <li>index : <%= i %> , count : <%= i + 1 %></li>
        <% } %>
      </ul>
      <img src="<%= thumbImg() %>" width="100" height="100" alt=""><br>
      <img src="<%= src %>images/temp_covscroll.jpg" width="140" height="91" alt="">
      <div class="tag_plain"></div>

      <%- include(folderCompo + '_card', {
        depth
      }) %>
    </article>
  </main>
  
  <%- include(folderCompo + '_footer') %>
</div>
</body>
</html>