<%#
  {
    'group': '0. 컴포넌트 가이드',
    'depth': '0. 가이드'
  }
#%>

<%#
  class : tr 클래스명 (point_add(추가), point_update(수정), point_remove(삭제))
  group : 구분 가능한 그룹명
  depth : 뎁스 이름(각각의 뎁스는 __ 로 구분 가능)
  comments : 비고
%>

<%
  const depth = 1;
  const thumbImg = (sizeX = 200, sizeY = 200) => `https://placehold.co/${sizeX}x${sizeY}`;
  const _src = '../'.repeat(depth + 1);
  const _components = _src + 'components';
  const _layout = _src + 'layout';
  const _images = _src + 'images';
%>
<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include( './layout/_head', {
    title: '컴포넌트 가이드',
    _src
} ) %>
</head>
<body class="line-numbers">
  <div class="c-wrapper">
    <header class="c-header">
      <button type="button" class="c-btn-menu"><i class="fa-sharp fa-solid fa-bars"></i></button>
      <h1 class="tit_head"><a href="/html/guide/index.html">컴포넌트 가이드</a></h1>
    </header>
    <main class="c-main">
      <%- include( './layout/_nav' ) %>
      <article class="c-article">
        <%# ------- 소개 ------- %>
        <h2 class="c-tit"><a href="#intro" id="intro" class="c-tit-link">소개</a></h2>
        <%- include( `./_intro`, _src ) %>
        <%# // ------- 소개 ------- %>

        <%# ------- 아이콘 ------- %>
        <h2 class="c-tit"><a href="#icon" id="icon" class="c-tit-link">아이콘</a></h2>
        <%- include( `./_icon` ) %>
        <%# // ------- 아이콘 ------- %>
        
        <%# ------- 공통 컬러 ------- %>
        <h2 class="c-tit"><a href="#globalColor" id="globalColor" class="c-tit-link">공통 컬러</a></h2>
        <%- include( `./_color` ) %>
        <%# // ------- 공통 컬러 ------- %>

        <%# ------- 컴포넌트 ------- %>
        <h2 class="c-tit"><a href="#components" id="components" class="c-tit-link">컴포넌트</a></h2>
        <p>컴포넌트는 작은 UI 조각 입니다.</p>
        <%- include( './components/_title' ) %>
        <%- include( './components/_button' ) %>
        <%- include( './components/_tab' ) %>
        <%- include( './components/_list' ) %>
        <%- include( './components/_table' ) %>
        <%- include( './components/_input' ) %>
        <%- include( './components/_select' ) %>
        <%- include( './components/_checkbox' ) %>
        <%- include( './components/_radio' ) %>
        <%- include( './components/_textarea' ) %>
        <%# // ------- 컴포넌트 ------- %>

        <%# ------- 템플릿 ------- %>
        <h2 class="c-tit"><a href="#templates" id="templates" class="c-tit-link">템플릿</a></h2>
        <p>템플릿은 자주 사용하는 UI의 집합 또는 그룹 입니다.</p>
        <%- include( './templates/_form' ) %>
        <%- include( './templates/_infobox' ) %>
        <%# // ------- 템플릿 ------- %>

        <%# ------- 유틸리티 클래스 ------- %>
        <h2 class="c-tit"><a href="#utillClass" id="utillClass" class="c-tit-link">유틸리티 클래스</a></h2>
        <%- include( `./_utill_class` ) %>
        <%# // ------- 유틸리티 클래스 ------- %>
      </article>
    </main>
  </div>

  <!-- js -->
  <script src="<%= _src %>js/jquery-3.5.1.min.js"></script>
  <script src="<%= _src %>js/prism-1.29.0.min.js"></script>
  <script src="<%= _src %>js/guide.js"></script>
  <script src="<%= _src %>js/slick-1.9.0.min.js"></script>
  <script src="<%= _src %>js/ui.js"></script>
  <script src="<%= _src %>js/index.js"></script>
</body>
</html>