<%#
  {
    'class': 'point_remove',
    'group': '그룹 2',
    'depth': '01. 제목없음'
  }
#%>
<%#
  class : tr 클래스명 (point_add(추가), point_update(수정), point_remove(삭제))
  group : 구분 가능한 그룹명
  depth : 뎁스 이름(각각의 뎁스는 _ 로 구분 가능)
  comments : 비고
%>
<% const thumbImg = (sizeX = 200, sizeY = 200) => {
  return `http://via.placeholder.com/${sizeX}x${sizeY}`;
}; %>

<!DOCTYPE html>
<html lang="ko">
<head>
<%- include('../../components/_head', {
    title: 'm top'
}) %>
</head>
<body>
<div class="container-doc">
  <%# header 파일은 상황에 맞게 선택하여 'header' 와 같이 수정하여 사용할 것 %>
  <%- include('../../components/_header_simple') %>

  <main class="doc-main">
    <article class="content-article">
      <h2>{main-article 제목}</h2>
      <ul>
        <% for( let i = 1; i < 11; i++ ) { %>
          <li>index : <%= i %> , count : <%= i + 1 %></li>
        <% } %>
      </ul>
    </article>
  </main>
  
  <%- include('../../components/_footer') %>
</div>
</body>
</html>